---
layout: news
type: news
title: News
---
<h1 style="margin-top:75px;">News</h1>
<div class="container no-gutter">
  <div class="row">
    <ul style="padding:0;">
      {% for post in site.posts %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <li>
            <a class="postList-link" href="{{ post.url }}">
              <div class="thumbnail">
                <img src="{% if post.cover.img %}{{ site.url }}{{ site.baseurl }}/assets/images/imgpost/{{ post.cover.img }}{% else %}{% endif %}" alt="{{ post.cover.alt }}">
                <div class="caption">
                  <h2>{{ post.title }}</h2>
                  <p><span class="text-uppercase"><!-- Whitespace added for readability -->
                {% assign m = post.date | date: "%-m" %}
                {{ post.date | date: "%-d" }}
                {% case m %}
                  {% when '1' %}gennaio
                  {% when '2' %}febbraio
                  {% when '3' %}marzo
                  {% when '4' %}aprile
                  {% when '5' %}maggio
                  {% when '6' %}giugno
                  {% when '7' %}luglio
                  {% when '8' %}agosto
                  {% when '9' %}settembre
                  {% when '10' %}ottobre
                  {% when '11' %}novembre
                  {% when '12' %}dicembre
                {% endcase %}
                {{ post.date | date: "%Y" }}</span><br>{{ post.meta }}</p>
                </div>
              </div>
            </a>
          </li>
        </div>
        {% endfor %}
      </ul>
    </div>
  </div>

  <li><a href="{{ post.url }}">{{ post.title }}</a><br>
    <span>{{ post.meta }}</span>
  </li>
