a.postList-link:hover {
  text-decoration: none;
}

.thumbnail {
  padding: 0;
  background-color: $color-lightest;
}

.thumbnail:hover {
  background-color: $color-lighter;
}

.thumbnail h2 {
  text-align: left;
  margin-bottom: 2px;
  font-size: $base-font-size*1.5;
  color: $color-secondary;
}

.thumbnail p {
  color: $color-primary;
}

.thumbnail:hover h2,
.thumbnail:hover p {
  color: $color-secondary;
}
