<footer class="footer-main">
  <div class="container">
    <div class="row">
      <div class="col-xs-0 col-md-2 col-sm-3 col-lg-3">
      </div>
      <div id="f_support" class="col-xs-6 col-md-4 col-sm-3 col-lg-3 text-right">
        <h2><small>Supporto</small></h2>
        <ul>
          <li><a href="{{ site.baseurl }}/notizie">Notizie</a></li>
          <li><a href="{{ site.baseurl }}/chisono">Chi sono</a></li>
          <li><a href="{{ site.baseurl }}/contatti">Contatti</a></li>
          <li><a href="{{ site.baseurl }}/privacy">Privacy</a></li>
        </ul>
      </div>
      <div id="f_social" class="col-xs-6 col-md-4 col-sm-3 col-lg-3 text-left">
        <h2><small>Social network</small></h2>
          <ul>
            <li><a target="_blank" href="{{ site.author.facebook }}"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a></li>
            <li><a target="_blank" href="{{ site.author.google_plus }}"><i class="fa fa-google-plus-official" aria-hidden="true"></i> Google+</a></li>
            <li><a target="_blank" href="{{ site.author.linkedin }}"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
            <li><a target="_blank" href="{{ site.author.youtube }}"><i class="fa fa-youtube" aria-hidden="true"></i> Youtube</a></li>
          </ul>
      </div>
      <div class="col-xs-0 col-md-2 col-sm-3 col-lg-3 text-center">
      </div>
    </div>
    <div id="lastl" class="row">
      <div class="col-xs-12 copyright text-center">
        <span><i class="fa fa-copyright" aria-hidden="true"></i>
2016-2017 Daniele Pintus</span>
      </div>
       <div class="col-xs-12 piva text-center">
        <span><i class="fa fa-piva" aria-hidden="true"></i>
P.I. 02641710922</span>
      </div>
    </div>
  </div>

</footer>
