<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% if page.type == "home"%}{{ site.title }}{% elsif page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description"
    content="{% if page.layout == "post" %}{{ page.meta }}{% elsif page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:type" content="{% if page.layout == "post" %}article{% else %}website{% endif %}" />
  <!-- Bootstrap core CSS -->
  <link href="{{ site.baseurl }}/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}">
  <!-- Custom styles for this template -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro" rel="stylesheet">
  <link href="{{ "/css/font-awesome.css" | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{ "/css/cookies.css" | prepend: site.baseurl }}" rel="stylesheet">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}{% link /assets/images/favicon.png %}">
  {% include seo.html %}
</head>
