<nav class="navbar navbar-inverse navbar-fixed-top color-dark">
  <div class="container">
    <div class="navbar-header">

      <ul class="nav navbar-nav">
        {% if page.type != home %}
      <a class="navbar-brand hidden-xs navbar-brand{% if page.type == "home" %} nav-active active{% endif %}" href="{{ site.baseurl }}/index.html"><i class="fa fa-home fa-1 " aria-hidden="true"></i> Somato Emozionale</a>
      <li class="nmob hidden-sm hidden-md hidden-lg{% if page.type == "home" %} nav-active active{% endif %}"><a href="{{ site.baseurl }}/index.html"><i class="fa fa-home fa-1 " aria-hidden="true"></i><span id="brand"class="hidden-xs"> Somato Emozionale</span></a></li>
      {% endif %}
      {% if page.type != "info" %}
      <li class="nmob"><a href="{{ site.baseurl }}/chisono.html"><i class="fa fa-user fa-1" aria-hidden="true"></i> Chi sono</a></li>
      {% endif %}
      {% if page.type != "contact" %}
      <li class="nmob"><a href="{{ site.baseurl }}/contatti.html"><i class="fa fa-phone fa-1" aria-hidden="true"></i> Contatti</a></li>
      {% endif %}
      <li class="nmobs hidden-sm hidden-md hidden-lg"><a href="{{ site.author.facebook }}"><i class="fa fa-facebook-official fa-1" aria-hidden="true"></i></a></li>
      </ul>

    </div>
    <div class="collapse navbar-collapse">
<ul class="nav navbar-nav navbar-right hidden-xs nmobm">
    <li><a href="{{ site.author.facebook }}"><i class="fa fa-facebook-official fa-1" aria-hidden="true"></i></a></li>
    <li><a href="{{ site.author.google_plus }}"><i class="fa fa-google-plus-official fa-1" aria-hidden="true"></i></a></li>
<li><a href="{{ site.author.linkedin }}"><i class="fa fa-linkedin fa-1" aria-hidden="true"></i></a></li>
    </ul>
    </div>
  </div>
</nav>
