<nav class="navbar navbar-inverse navbar-fixed-top color-dark">
  <div class="container">
    <div class="navbar-header">

      <ul class="nav navbar-nav">
        <li class="pull-left {% if page.type == "home" %} nav-active active{% endif %}"><a href="{{ site.baseurl }}/index.html"><i class="fa fa-home fa-1 " aria-hidden="true"></i><span id="brand" class="hidden-xs">Somato Emozionale</span></a></li>
        <li class="pull-left {% if page.type == "info" %} nav-active active{% endif %}"><a href="{{ site.baseurl }}/chisono.html"><i class="fa fa-user fa-1" aria-hidden="true"></i><span class="hidden-xs">Chi sono</span></a></li>
        <li class="pull-left {% if page.type == "contact" %} nav-active active{% endif %}"><a href="{{ site.baseurl }}/contatti.html"><i class="fa fa-phone fa-1" aria-hidden="true"></i><span class="hidden-xs">Contatti</span></a></li>
        <li class="pull-right nmobs"><a href="{{ site.author.facebook }}"><i class="fa fa-facebook-official fa-1" aria-hidden="true"></i><span class="hidden-xs hidden-sm">La mia pagina Facebook</span></a></li>
        <li class="nmob {% if page.type == "news" %} nav-active active{% endif %}"><a href="{{ site.baseurl }}/news.html"><i class="fa fa-newspaper-o fa-1" aria-hidden="true"></i><span class="hidden-xs">News</span></a></li>
      </ul>

    </div>
  </div>
</nav>
