---
layout: news
---
<section id="showcase" class="showcase secpt">
<div class="container">
  <div class="row">


  <div class="col-xs-12">
    <div class="media-object block logo">
    <img src="img/logo90.png" class="img-rounded img-responsive">
    </div>
  </div>

  <div class="col-xs-0 col-sm-1 col-md-2 col-lg-0">
  </div>
  <div class="col-xs-12 tidl col-sm-10 col-md-8 col-lg-12">
      <h1>{{ site.title }}</h1>
      <p class="lead">{{ site.description }}</p>
  </div>
  <div class="col-xs-0 col-sm-1 col-md-2 col-lg-0">
  </div>
  </div>

  </div><!-- /.container -->
</section class="secpt">

{{ content | smartify }}
